<div class="wrapper">
  <h1 class="align-center animated tada" id="lawnstar-signin-page">LawnStar</h1>
  <!-- <form class="form-signin" action="/sessions" method="POST">
    <input type ="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required="" autofocus="" />
    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign </button>
  </form> -->
  <a href="/signup"><button class="btn btn-lg btn-primary btn-block" type="submit">Sign up with an Existing League</button></a>
  <a href="/leagues/new"><button class="btn btn-lg btn-danger btn-block" type="submit" href="/leagues/new">Sign up with a New League</button></a>
  <br>
</div>
